<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JWT" version="1.1" targetFramework="net40-client" />
  <package id="Newtonsoft.Json" version="3.5.8" targetFramework="net40-client" />
  <package id="RestSharp" version="105.2.2" targetFramework="net40-client" />
  <package id="Twilio" version="4.7.2" targetFramework="net40-client" />
  <package id="Twilio.Auth" version="1.2.0" targetFramework="net40-client" />
  <package id="Twilio.Client" version="3.6.0" targetFramework="net40-client" />
  <package id="Twilio.Lookups" version="1.1.0" targetFramework="net40-client" />
  <package id="Twilio.Monitor" version="1.1.0" targetFramework="net40-client" />
  <package id="Twilio.Mvc" version="3.2.0" targetFramework="net40-client" />
  <package id="Twilio.TwiML" version="3.0" targetFramework="net40-client" />
</packages>